@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");

$primary-text-color: black;
$secondary-text-color: rgba(0, 0, 0, 0.7);
$footer-heading-text-color: rgba(0, 0, 0, 0.5);

* {
  padding: 0;
  margin: 0;
}

@import "./navbar.style";
@import "./banner.style.scss";
@import "./courses.style.scss";
@import "./about.style.scss";
@import "./review.style.scss";
@import "./footer.style.scss";
