.review-section {
  width: 100%;
  margin-top: 250px;
}
.review-section h1 {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 40px;
  font-weight: 600;
  width: 653px;
  text-align: center;
  margin-inline: auto;
}
.review {
  box-sizing: border-box;
  width: 324px;
  border: 1px solid rgba(153, 152, 225, 0.5);
  border-radius: 13px;
  background: rgba(153, 152, 225, 0.2);
  padding: 32px;
}

.reviews {
  margin-top: 60px;
}

.review-photos {
  display: flex;
  justify-content: space-between;
}

.review img:nth-child(1) {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.review img:nth-child(2) {
  width: 26px;
  height: 19px;
  object-fit: cover;
}
.review h2 {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}
.review p {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
